<div class="modal-bg">
  <div class="modal-cont">
    <h5 class="modal-title">{{image.name}}</h5>
    <div class="model-cont">
      <img
        src="{{image.picture.url}}"
        alt="Image"
        style="max-width: 80%; max-height: 80%"
      />
    </div>
    <div class="model-cont" style="margin-top: 10px">
      <div>
        <p>Category:</p>
        <span>{{image.category.name}}</span>
      </div>
      <div>
        <p>Location:</p>
        <span>{{image.location.name}}</span>
      </div>
    </div>
    <div class="model-cont-copy">
      <input
        type="text"
        value="{{image.picture.url}}"
        id="{{image.id}}"
        class="copy_input"
      />
      <button class="btn btn-success btn_copy" style="border-radius: 10px">
        <i class="fas fa-copy"></i>
      </button>
    </div>

    <div class="modal-footer">
      <button class="btn btn-secondary modal-close2">Close</button>
    </div>

    <span class="modal-close">X</span>
  </div>
</div>

<div class="model-cont-copy">
  <input
    type="text"
    value="{{image.picture.url}}"
    id="{{image.id}}"
    class="copy_input"
  />
  <button class="btn btn-success btn_copy" style="border-radius: 10px">
    <i class="fas fa-copy"></i>
  </button>
</div>
